%h1 Browse Products

%table
  %thead
    %tr
      %th Name
      %th Price
      %th Stock quantity
      %th
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= humanized_money_with_symbol(product.price_cents)
        %td= product.stock_quantity
        %td= order_product_button(product)
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
