!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestEventStore
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand Super Online Store
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{ class: params[:controller] == 'products' ? 'active' : '' }
              %a{ href: products_path } Products
            %li{ class: params[:controller] == 'orders' ? 'active' : '' }
              %a{ href: orders_path } Orders

          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Cart: #{@current_order.products.count}", @current_order

    .container
      = yield
